# Find files, find ROIs, compute all features on all .wav files

In [70]:
from glob import glob
from ROI import find_ROIs_soundfile,compute_ROI_all_features
import pandas as pd
from pathlib import Path
import warnings
warnings.filterwarnings(action='ignore')

In [71]:
datapath = '/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/wav/xenocanto'
annot_path = '/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/annot.csv'

In [72]:
filelist = glob(datapath+'/**/*.wav', recursive = True)
df_data=pd.DataFrame()
for file in filelist:
    species = Path(file).parts[-2].rsplit(sep='_')[1]
    gen = Path(file).parts[-2].rsplit(sep='_')[0]
    df_data = df_data.append({'fullfilename': file,
                            'sound_id': Path(file).parts[-1][:-4],
                            'species': species,
                            'gen' : gen},
                            ignore_index=True)

In [73]:
df_annot = pd.read_csv(annot_path)

In [63]:
df_data

,fullfilename,sound_id,species,gen
0,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,449420,africanoides,Calendulauda
1,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,452901,galactotes,Cisticola
2,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,201332,galactotes,Cisticola
3,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,710853,galactotes,Cisticola
4,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,721728,olivacea,Cyanomitra
...,...,...,...,...
122,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,523243,tricolor,Pycnonotus
123,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,523234,tricolor,Pycnonotus
124,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,411262,lugubris,Vanellus
125,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,394493,lugubris,Vanellus
126,/Users/Paul/Paul/Desktop/My_projects/Bioacoust...,104019,calvus,Treron

In [74]:
df_annot['sound_id']=df_annot['record'].astype(str)

In [75]:
df_annot

,Unnamed: 0,record,n_roi,min_t,max_t,min_f,max_f,dt,df,APD,sound_id,gen,species
0,0,432469,1,3.669150,3.717428,2347.826,2695.652,0.0483,347.826,-64.27,432469,Acrocephalus,baeticatus
1,1,432469,2,3.753637,3.813985,2391.304,2652.174,0.0603,260.870,-61.25,432469,Acrocephalus,baeticatus
2,2,432469,3,3.886402,3.934681,2304.348,2608.696,0.0483,304.348,-58.94,432469,Acrocephalus,baeticatus
3,3,432469,4,4.013133,4.055376,2347.826,2695.652,0.0422,347.826,-61.04,432469,Acrocephalus,baeticatus
4,4,432469,5,4.115724,4.176072,2304.348,2739.130,0.0603,434.783,-60.95,432469,Acrocephalus,baeticatus
...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,989,400928,59,23.113200,23.226900,11646.465,12311.977,0.1137,665.512,-58.25,400928,Cossypha,humeralis
990,990,400928,60,23.700700,23.823900,1941.077,3715.777,0.1232,1774.699,-52.38,400928,Cossypha,humeralis
991,991,400928,61,23.909200,24.013400,1941.077,3715.777,0.1042,1774.699,-51.82,400928,Cossypha,humeralis
992,992,400928,62,24.108200,24.212400,1885.618,3549.399,0.1042,1663.781,-52.37,400928,Cossypha,humeralis
993,993,400928,63,24.326100,24.439800,1830.159,3549.399,0.1137,1719.240,-53.05,400928,Cossypha,humeralis

In [68]:
df_annot = df_annot[df_annot.sound_id.isin(df_data.sound_id)]

In [69]:
df_annot

,Unnamed: 0,record,n_roi,min_t,max_t,min_f,max_f,dt,df,APD,sound_id,gen,species
0,0,432469,1,3.669150,3.717428,2347.826,2695.652,0.0483,347.826,-64.27,432469,Acrocephalus,baeticatus
1,1,432469,2,3.753637,3.813985,2391.304,2652.174,0.0603,260.870,-61.25,432469,Acrocephalus,baeticatus
2,2,432469,3,3.886402,3.934681,2304.348,2608.696,0.0483,304.348,-58.94,432469,Acrocephalus,baeticatus
3,3,432469,4,4.013133,4.055376,2347.826,2695.652,0.0422,347.826,-61.04,432469,Acrocephalus,baeticatus
4,4,432469,5,4.115724,4.176072,2304.348,2739.130,0.0603,434.783,-60.95,432469,Acrocephalus,baeticatus
...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,989,400928,59,23.113200,23.226900,11646.465,12311.977,0.1137,665.512,-58.25,400928,Cossypha,humeralis
990,990,400928,60,23.700700,23.823900,1941.077,3715.777,0.1232,1774.699,-52.38,400928,Cossypha,humeralis
991,991,400928,61,23.909200,24.013400,1941.077,3715.777,0.1042,1774.699,-51.82,400928,Cossypha,humeralis
992,992,400928,62,24.108200,24.212400,1885.618,3549.399,0.1042,1663.781,-52.37,400928,Cossypha,humeralis
993,993,400928,63,24.326100,24.439800,1830.159,3549.399,0.1137,1719.240,-53.05,400928,Cossypha,humeralis

In [5]:
df_data.to_csv('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/df_datapaths.csv')

In [ ]:
filelist = glob(datapath+'/**/*.wav', recursive = True)
len(filelist)

In [ ]:
def compute_ROI_all_features_all_dataset(datapath=datapath):
    '''Creates biggest dataframe containing all birds, all roi, all features

    entry dataframe columns: ['fullfilename','gen','species','sound_id']    (all unique ids)
    '''
    filelist = glob(datapath+'/**/*.wav', recursive = True)
    df_data=pd.DataFrame()
    for file in filelist:
        species = Path(file).parts[-2].rsplit(sep='_')[1]
        gen = Path(file).parts[-2].rsplit(sep='_')[0]
        df_data = df_data.append({'fullfilename': file,
                                'sound_id': Path(file).parts[-1][:-4],
                                'species': species,
                                'gen' : gen},
                                ignore_index=True)

    df_all_features_all_roi = pd.DataFrame()

    for filepath in df_data['fullfilename']:
        dff_data = df_data.copy()
        dff_data = dff_data[dff_data['fullfilename']==filepath]
        dff_data = dff_data.reset_index()

        print(filepath)
        try:
            df_roi_temp,s,fs = find_ROIs_soundfile(path=filepath , display=False, mode_bin='relative', param1=10, param2=0.9)
            df_all_features_roi_temp = compute_ROI_all_features(s, fs, df_rois=df_roi_temp , resolution='med', display=False)

            df_all_features_roi_temp['gen'] = dff_data['gen'][0]
            df_all_features_roi_temp['species'] = dff_data['species'][0]
            df_all_features_roi_temp['sound_id'] = dff_data['sound_id'][0]
                
            df_all_features_all_roi = df_all_features_all_roi.append(df_all_features_roi_temp)
        except Exception as e:
            print(e)
    
    df_all_features_all_roi = df_all_features_all_roi.reset_index()
    df_all_features_all_roi = df_all_features_all_roi.drop(axis=1,labels=['label','index'])
    df_all_features_all_roi.rename(columns={'labelID': 'ROI_id'}, inplace=True)
    
    return df_all_features_all_roi, df_data

In [ ]:
df_final, df_data = compute_ROI_all_features_all_dataset(datapath)

In [ ]:
df_final[df_final['gen']=='Ploceus']

In [ ]:
df_final.to_csv('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/df_ROI_final.csv')