# read .excel, add few columns, save to .csv

In [21]:
import pandas as pd
results = pd.read_excel('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/Results.xlsx',1)

In [22]:
results

,SP,record,n_roi,min_t,max_t,min_f,max_f,dt,df,APD,Family,Order,Biotope
0,Acrocephalus_baeticatus,432469,1,3.669150,3.717428,2347.826,2695.652,0.0483,347.826,-64.27,Acrocephalidae,Passeriformes,Wetlands
1,Acrocephalus_baeticatus,432469,2,3.753637,3.813985,2391.304,2652.174,0.0603,260.870,-61.25,Acrocephalidae,Passeriformes,Wetlands
2,Acrocephalus_baeticatus,432469,3,3.886402,3.934681,2304.348,2608.696,0.0483,304.348,-58.94,Acrocephalidae,Passeriformes,Wetlands
3,Acrocephalus_baeticatus,432469,4,4.013133,4.055376,2347.826,2695.652,0.0422,347.826,-61.04,Acrocephalidae,Passeriformes,Wetlands
4,Acrocephalus_baeticatus,432469,5,4.115724,4.176072,2304.348,2739.130,0.0603,434.783,-60.95,Acrocephalidae,Passeriformes,Wetlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370,Chalcomitra_senegalensis,708641,12,12.570700,12.691300,2037.228,3355.435,0.1206,1318.207,-45.09,Nectariniidae,Passeriformes,Woodlands
3371,Chalcomitra_senegalensis,708641,13,13.238700,13.368600,2676.359,4034.511,0.1299,1358.152,-40.11,Nectariniidae,Passeriformes,Woodlands
3372,Chalcomitra_senegalensis,708641,14,14.964200,15.089500,2876.087,4154.348,0.1252,1278.261,-41.11,Nectariniidae,Passeriformes,Woodlands
3373,Chalcomitra_senegalensis,708641,15,15.915200,15.998700,2197.011,3395.380,0.0835,1198.370,-44.33,Nectariniidae,Passeriformes,Woodlands
3374,Chalcomitra_senegalensis,708641,16,16.646600,16.776500,2716.304,4154.348,0.1299,1438.043,-38.15,Nectariniidae,Passeriformes,Woodlands

In [23]:
results.loc[:,'id']=str(results.loc[:,'record'])
results = results.dropna()
results['sound_id']=results['record'].astype(int)
results['sound_id']=results['sound_id'].astype(str)
results['gen'] = results['SP'].apply(lambda x: x.split("_", 1)[0])
results['species'] = results['SP'].apply(lambda x: x.split("_", 1)[1])
results = results.drop(columns='SP')
results = results.reset_index(drop=True)

In [24]:
results

,record,n_roi,min_t,max_t,min_f,max_f,dt,df,APD,Family,Order,Biotope,id,sound_id,gen,species
0,432469,1,3.669150,3.717428,2347.826,2695.652,0.0483,347.826,-64.27,Acrocephalidae,Passeriformes,Wetlands,0 432469\n1 432469\n2 432469...,432469,Acrocephalus,baeticatus
1,432469,2,3.753637,3.813985,2391.304,2652.174,0.0603,260.870,-61.25,Acrocephalidae,Passeriformes,Wetlands,0 432469\n1 432469\n2 432469...,432469,Acrocephalus,baeticatus
2,432469,3,3.886402,3.934681,2304.348,2608.696,0.0483,304.348,-58.94,Acrocephalidae,Passeriformes,Wetlands,0 432469\n1 432469\n2 432469...,432469,Acrocephalus,baeticatus
3,432469,4,4.013133,4.055376,2347.826,2695.652,0.0422,347.826,-61.04,Acrocephalidae,Passeriformes,Wetlands,0 432469\n1 432469\n2 432469...,432469,Acrocephalus,baeticatus
4,432469,5,4.115724,4.176072,2304.348,2739.130,0.0603,434.783,-60.95,Acrocephalidae,Passeriformes,Wetlands,0 432469\n1 432469\n2 432469...,432469,Acrocephalus,baeticatus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370,708641,12,12.570700,12.691300,2037.228,3355.435,0.1206,1318.207,-45.09,Nectariniidae,Passeriformes,Woodlands,0 432469\n1 432469\n2 432469...,708641,Chalcomitra,senegalensis
3371,708641,13,13.238700,13.368600,2676.359,4034.511,0.1299,1358.152,-40.11,Nectariniidae,Passeriformes,Woodlands,0 432469\n1 432469\n2 432469...,708641,Chalcomitra,senegalensis
3372,708641,14,14.964200,15.089500,2876.087,4154.348,0.1252,1278.261,-41.11,Nectariniidae,Passeriformes,Woodlands,0 432469\n1 432469\n2 432469...,708641,Chalcomitra,senegalensis
3373,708641,15,15.915200,15.998700,2197.011,3395.380,0.0835,1198.370,-44.33,Nectariniidae,Passeriformes,Woodlands,0 432469\n1 432469\n2 432469...,708641,Chalcomitra,senegalensis
3374,708641,16,16.646600,16.776500,2716.304,4154.348,0.1299,1438.043,-38.15,Nectariniidae,Passeriformes,Woodlands,0 432469\n1 432469\n2 432469...,708641,Chalcomitra,senegalensis

In [25]:
results.to_csv('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/annot.csv')

In [26]:
import pandas as pd
annots = pd.read_csv('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/annot_new2.csv')

In [27]:
annots.biotope.unique()

array(['Grasslands', 'Forest', 'Wetlands', 'Woodlands', 'Marshlands'],
      dtype=object)

In [17]:
annots['biotope'] = annots['biotope'].str.replace(" ", "")

In [18]:
annots['biotope'].unique()

array(['Grasslands', 'Forest', 'Wetlands', 'Woodlands', 'Marshlands'],
      dtype=object)

In [20]:
annots.to_csv('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/annot_new2.csv')