In [18]:
import pandas as pd
results = pd.read_excel('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/annot.xlsx',1)

In [19]:
results

,SP,record,n_roi,min_t,max_t,min_f,max_f,dt,df,APD
0,Acrocephalus_baeticatus,432469,1,3.669150,3.717428,2347.826,2695.652,0.0483,347.826,-64.27
1,Acrocephalus_baeticatus,432469,2,3.753637,3.813985,2391.304,2652.174,0.0603,260.870,-61.25
2,Acrocephalus_baeticatus,432469,3,3.886402,3.934681,2304.348,2608.696,0.0483,304.348,-58.94
3,Acrocephalus_baeticatus,432469,4,4.013133,4.055376,2347.826,2695.652,0.0422,347.826,-61.04
4,Acrocephalus_baeticatus,432469,5,4.115724,4.176072,2304.348,2739.130,0.0603,434.783,-60.95
...,...,...,...,...,...,...,...,...,...,...
989,Cossypha_humeralis,400928,59,23.113200,23.226900,11646.465,12311.977,0.1137,665.512,-58.25
990,Cossypha_humeralis,400928,60,23.700700,23.823900,1941.077,3715.777,0.1232,1774.699,-52.38
991,Cossypha_humeralis,400928,61,23.909200,24.013400,1941.077,3715.777,0.1042,1774.699,-51.82
992,Cossypha_humeralis,400928,62,24.108200,24.212400,1885.618,3549.399,0.1042,1663.781,-52.37
993,Cossypha_humeralis,400928,63,24.326100,24.439800,1830.159,3549.399,0.1137,1719.240,-53.05

In [13]:
results.loc[:,'id']=str(results.loc[:,'record'])
results = results.dropna()

In [20]:
results['sound_id']=results['record'].astype(int)
results['sound_id']=results['sound_id'].astype(str)
results['gen'] = results['SP'].apply(lambda x: x.split("_", 1)[0])
results['species'] = results['SP'].apply(lambda x: x.split("_", 1)[1])
results = results.drop(columns='SP')
results = results.reset_index(drop=True)

In [1]:
results

NameError: name 'results' is not defined

In [23]:
results.to_csv('/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/tables/annot.csv')

In [29]:
results.columns

Index(['record', 'n_roi', 'min_t', 'max_t', 'min_f', 'max_f', 'dt', 'df',
       'APD', 'sound_id', 'gen', 'species'],
      dtype='object')

In [25]:
pd.DataFrame.from_dict(results.to_dict('records')).min_t

0       3.669150
1       3.753637
2       3.886402
3       4.013133
4       4.115724
         ...
989    23.113200
990    23.700700
991    23.909200
992    24.108200
993    24.326100
Name: min_t, Length: 994, dtype: float64

In [26]:
id = '104058'
results[results['sound_id'].astype(str) == id]

,record,n_roi,min_t,max_t,min_f,max_f,dt,df,APD,sound_id,gen,species
785,104058,1,1.5707,1.9814,817.788,2332.212,0.4106,1514.423,-50.28,104058,Corvus,splendens
786,104058,2,2.3920,2.7821,666.346,2271.635,0.3901,1605.288,-45.81,104058,Corvus,splendens
787,104058,3,3.0798,3.4494,757.212,2301.923,0.3696,1544.712,-48.40,104058,Corvus,splendens
788,104058,4,3.7266,4.0962,666.346,2271.635,0.3696,1605.288,-50.53,104058,Corvus,splendens
789,104058,5,9.1583,9.5176,636.058,2241.346,0.3593,1605.288,-55.63,104058,Corvus,splendens
790,104058,6,11.8685,12.1354,938.942,2029.327,0.2669,1090.385,-57.45,104058,Corvus,splendens

In [28]:
from pathlib import Path
wav_dropdown = '/Users/Paul/Paul/Desktop/My_projects/Bioacoustics/Maputo_Dash/datasets/wav/xenocanto/Acrocephalus_baeticatus/432469.wav'
Path(wav_dropdown).parts[-1][:-4]

'432469'